*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-padding-top: 5rem;
}
header{
    background-color: #f6f6f6;
    position: sticky;
    top:0;
    z-index: 100;
}
header .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #252222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav .icon {
    display: none;
  }
  a{
    text-decoration: none;
    color: #ffffff;
  }
#home {
    position: relative;
    height: 500px;
    width: 100%;
}
#home button{
   position: absolute;
    padding: 1%;
    width: 50px;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: none;
    visibility: hidden;
}
#home:hover .change{
    visibility: visible;
}
.b1{
    top: 5%;
}
.b2{
    top: 18%;
}
video{
    width: 100%;
    height: 100%;
    background-color: #444444;
}
#menu .card i{
position: absolute;
display: block;
left: 45%;
top: 45%;
transform: translate(-50% -50%);
color: #131111;
padding: 3%;
border-radius: 50%;
background-color: aliceblue;
}
#menu .card img{
    border-radius: 5px;
}
#menu .card:hover img{
    transform: scale(0.9);
}
#menu .card:hover i{
    background-color: yellow;
    transform: scale(1.2);
}
#banner{
    background: url("images/bg-4.png") no-repeat;
    height: 300px;
    background-size: cover;
    position: relative;
    margin-top: 4%;
}
#banner::before{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(123,123,123)
}
form{
    border: 1px solid gray;
    padding: 2%;
    border-radius: 4px;
}
.popup-image{
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}
.popup-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
   #loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #444444;
        width: 70px;
        height: 70px;
        animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
      
    .center {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .logo{
        display: none;
      }
      .b1{
        top: 2%;
    }
    .b2{
        top: 10%;
    }

    .topnav.responsive 
    {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
 
}